nav {
  position: fixed;
  padding-top: 2rem;
  z-index: 1;
  right: -100%;
  color: yellowgreen;
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(000, 000, 000, 0.6);
  transition: 0.5s;
  visibility: hidden;
  font-weight: bold;

  a {
    color: yellowgreen;
  }

  ul li {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    transition: 0.4s;
  }

  ul li:hover {
    transform: scale(1.2);
  }
}

.showMenu {
  right: 0;
  visibility: visible;
}
