<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CSS Glitch Effect</title>
		<link rel="stylesheet" type="text/css" href="css/glitch.css" />
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	</head>
	<body>

		<div class="about">
			<div class="title">
				<h3>The Developer</h3>
				<hr>

				<ul>
					<li>
						<div id='typed-name'><p>Name: Bojan Milutinovic</p></div>
						<span id='name'></span>
					</li>
					<li>
						<div id='typed-age'><p>Age: 35</p></div>
						<span id='age'></span>
					</li>
					<li>
						<div id='typed-strengths'><p>Strengths: endurant, optimistic, loyal, determined</p></div>
						<span id='strengths'></span>
					</li>
					<li>
						<div id='typed-weaknesses'><p>Weaknesses: intelligent, daydreamer</p></div>
						<span id='weaknesses'></span>
					</li>
					<li>
						<div id='typed-weapon'><p>Weapon: keyboard</p></div>
						<span id='weapon'></span>
					</li>
				</ul>
			</div>
			<div class="cv">
				<p>download cv</p>
			</div>
			
				<div class="glitch">
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
				</div>
		
			</div>
		
                
                
        <!-- <script src="js/imagesloaded.pkgd.min.js"></script> -->
		<!-- <script src="js/demo.js"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
		<script src="js/typed.js"></script>
	
	</body>
</html>
