<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CSS Glitch Effect</title>
		<link rel="stylesheet" type="text/css" href="css/glitch.css" />
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	</head>
	<body>

		<div class="about">
			<div class="title">
				<h3>About me</h3>
				<p>My name is Bojan Milutinovic and I might be the worst developer you have ever heard of, but at least you have heard of me.</p>
				<div id="typed-strings">
					<p>Joking apart, I am very professional, highly responsible and dedicated person. If you want to find out more about me and what I have done so far in my life you can download my CV or scroll the page to see my work.</p>
					
				</div>
				<span id="typed"></span></div>
			
				<div class="glitch">
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
				</div>
		
			</div>
		
                
                
        <!-- <script src="js/imagesloaded.pkgd.min.js"></script> -->
		<!-- <script src="js/demo.js"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
		<script src="js/typed.js"></script>
	</body>
</html>
