<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Drowning</title>
    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css?family=Dosis"
      rel="stylesheet"
    />
    <!-- main styles -->
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="burger">
      <div class="btn-line"></div>
      <div class="btn-line"></div>
      <div class="btn-line"></div>
    </div>
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
    <div class="landing">
      <div class="text">
        <h1>Where Is Your Website?</h1>
        <p>
          Is your website drowning in the Web Ocean among milions of other
          websites? Don't you want to be on the surface? Don't worry, you're
          about to be saved.
        </p>
        <p>contact me</p>
      </div>

      <!-- Do you want to be spotted or you just want to be? Well, if you want to get out of the dark</p> -->
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
