/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.main-header {
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #fff;
}

.main-header-inner {
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  color: #fff;
}

.main-header .showcase {
  padding-top: 100px; 
}

.main-header-inner .showcase {
  padding-top: 50px;
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}



.section-developers, .section-podcast {
  position: relative;
  background: url(../img/circuit.jpg);
  background-size: cover;
  background-position: center;
  border-top: solid 5px #333;
  border-bottom: solid 5px #333;
  min-height: 160px;
}

.primary-overlay {
  background: rgba(112, 81, 176, .9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-podcast a {
  margin-top: 30px;
}


@media(max-width: 500px) {
  .section-developers, .section-podcast {
    min-height: 240px;
  }
}


.carousel-item p {
  font-size: 150% !important;
}

.indicator-item {
  background: black !important 
  }

.indicator-item.active {
    background: grey !important;
  }

  label {
    color: #d847f1 !important;
  }

  input:focus {
    border-bottom: #d847f1 solid 1px !important;
  }

  .select-wrapper input.select-dropdown, .dropdown-content li > a, .dropdown-content li > span {
    color: #d847f1 !important;
  }

  .btn-extend {
    display: block;
    width: 100%;
  }

