
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D', sans-serif;
    list-style: none;
}

header {
    position: relative;
    width: 100%;
    z-index: 2;

}

/* menu button */

#menu-btn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
    padding-top: 15px;
    padding-right: 15px;
}

.btn-line {
    width: 35px;
    height: 4px;
    background: #acffff;
    margin: 0 0 4px 0;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
}

.btn-close>.btn-line:nth-child(1) {

    transform: rotate(45deg) translate(5px, 5px);
}

.btn-close>.btn-line:nth-child(2) {
    opacity: 0;
}

.btn-close>.btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* menu set up */

.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    width: 100%;
    background: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: 0.5s; 
}

.menu-show {
    height: 100vh;
}

.menu a {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #484848;
    text-decoration: none;
    font-size: 3rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.menu-item, .menu-item a {
    transition: .4s;
}

.menu-item:hover {
    transform: scale(1.1);
}

.menu-item a:hover {
    color: #acffff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
}

.menu-quote {
    max-width: 70%;
    color: #acffff;
    margin-top: 30px;
    padding: 20px;
    text-shadow: 0 0 5px #0ff, 0 0 10px #00b5d4;
}

/* main(home) section */

#home {
    height: 100vh;
    background: #262626;
    color: #acffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

#home .main-heading {
    font-size: 6rem;
    margin-bottom: 30px;
    letter-spacing: 0.9rem;
    color: #484848;
    text-transform: uppercase;
}

#home .sub-heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4rem;
    margin-bottom: 50px;
    color: #acffff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
}

#open {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: #acffff solid 2px;
    box-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4, inset 0 0 10px #0ff, inset 0 0 20px #00b5d4;
    border-radius: 5px;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    color: #acffff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
}

.space {
    margin-left: 2rem;
}

.drop-li {
    color: #484848;
    animation: animate 1s infinite linear;
}

.drop {
    transform: rotate(15deg);
    transform-origin: top left;
}

.text-shadow {
    color: #acffff;
    text-shadow: 0 0 13px #0ff, 0 0 25px #00b5d4;
}

.turn-off {
    color: #484848;
    text-shadow: none;
}


/* about section */

#about {
    background: url(about.jpg) center center/cover;
    height: 100vh;
    padding-top: 20px;
    position: relative;
}

.section-content {
    text-align: center;
    padding: 10px 20px;
    opacity: 0.9;
    border-radius: 5px;
    background: #262626;
    color: white;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.title {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
}

.text {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 60px;
}



/* my work section */

#myWork {
    background: #bdc7d5;
    padding: 30px 10px;
    min-height: 80vh;
}

.workContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.work {
    width: 300px;
    height: 300px;
    background: #bdc7d5;
    border: white solid 3px;
    margin: 10px; 
    transition: all 0.6s ease;
}

.work:hover {
    transform: scale(1.1);
}

.imgBackground {
    height: 80%;
}
.typenspeak {
    background: url(typeNspeak.png) center center/cover;
}
.loanCalculator {
    background: url(loanCalculator.png) center center/cover;
}
.webPage {
    background: url(webPage.png) center center/cover;
}
.bootstrapWebpage {
    background: url(bootstrapWebpage.png) center center/cover;
}
.robofriends {
    background: url(robofriends.png) center center/cover;
}

.about-project {
    height: 20%;
    background: black;
    color: white;
    opacity: .9;
    border-top: white 1px solid;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* conctact section */

#contact {
    height: 50vh;
    background: #262626;
}

.contact-title {
    height: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4rem;
    color: #acffff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
}

.contact-animate {
    animation: animate 1s infinite linear;
    
}
.drop-contact {
    display: inline-block;
    transform: rotate(-5deg);
    transform-origin: top right;
    color: #484848;
    text-shadow: none;
}

.icons {
    padding-top: 20px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#contact ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contact ul li {
    margin: 10px 15px;
}

#contact ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    border: #666;
    color: #666;
    transition: .5s;
}

#contact ul li a:hover {
    color: #acffff;
    text-shadow: 0 0 5px #acffff;
    border: #acffff 2px solid;
    box-shadow: 0 0 15px #acffff, inset 0 0 15px #acffff;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #262626;
    color: white;
    height: 50px;
    padding-top: 20px;
}



/* download cv button */

#cv {
    position: absolute;
    bottom: 65px;
    right: 50%;
    transform: translateX(48%);
    font-size: 1.5rem;
    padding: 10px 20px;
    text-align: center;
    background: #000;;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 60px;
    border: 4px black solid;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 1);
    overflow: hidden;
}

#cv::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 70%;
    height: 100%;
    background: rgba(255, 255, 255, .1);    
    transform: skewX(-15deg);
    transition: .5s;
}

#cv:hover::before {
    left: 210px;
}

#cv::after {
    content: '';
    position: absolute;
    top: 0;
    left: -70px;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, .1);    
    transform: skewX(-15deg);
    transition: .5s;
    transition-delay: 0.3s;
}
#cv:hover::after {
    left: 210px;
}


/* animation keyframe  */


@keyframes animate {
    0% {
        color: #484848;
        text-shadow: none;
    }

    18% {
        color: #484848;
        text-shadow: none;
    }

    20% {
        color: #acffff;
        text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
    }

    30% {
        color: #484848;
        text-shadow: none;
    }

    35% {
        color: #acffff;
        text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
    }

    70% {
        color: #484848;
        text-shadow: none;
    }

    85% {
        color: #acffff;
        text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
    }

    90% {
        color: #484848;
        text-shadow: none;
    }

    100% {
        color: #484848;
        text-shadow: none;
    }
}

@media all and (max-width: 420px) {
    .menu-show {
        height: 105vh;
    }

    .menu p {
        font-size: 0.8rem;
    }

    .menu a {
        letter-spacing: 3px;
        font-size: 2rem;
    }

    #menu-btn {
        padding-top: 15px;
        padding-right: 15px;
    }

    .btn-line {
        width: 28px;
        height: 3px;
    }

    #home .main-heading {
        font-size: 4rem;
        padding: 10px;
    }

    #home .sub-heading {
        font-size: 1.5rem;
    }

    #open {
        font-size: 1.5rem;
        padding: 10px;
        letter-spacing: 0.3rem;
    }

    .space {
        margin-left: 1rem;
    }



    /* about section */

    #about {
        padding-top: 8px;
    }

    .section-content {
        width: 90%;
    }

    .title {
        font-size: 1.3rem;
        margin-bottom: 8px;
        letter-spacing: 0.1rem;
    }

    .text {
        font-size: 1rem;
        line-height: 1;
    }

    #cv {
        font-size: 1rem;
        padding: 7px 12px;
        bottom: 50px;
    }
}