* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */

}
span {
  color: #484848;
}

.turn-off {
 color: #484848 !important;
 text-shadow: none !important;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #262626;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-button {
  margin: 20px;
}
.button-line {
  background: white;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
}

.home h1 {
    text-align: center;
  font-size: 6rem;
  margin-bottom: 30px;
  letter-spacing: 0.9rem;
  color: #484848;
  
}

.home h3 {
    text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.4rem;
  margin-bottom: 30px;
  color: #acffff;
  text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
}

.home ul {
  margin-top: 20px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
  border: #acffff solid 2px;
  box-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
  border-radius: 5%;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}

.space {
  margin-left: 2rem;
}

@media all and (max-width: 500px) {
    .home h1 {
        font-size: 4rem;
        letter-spacing: 0.3rem;
        font-weight: 500;
        transform: translate(0, -60%);
    }

    .home h3 {
        text-align: center;
        font-size: 2rem;
        transform: translateY(-20%);

    }
     
    .home ul {
        font-size: 1.3rem;  
    }
}

.text-shadow {
  color: #acffff;
  text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
}

li {
  color: #acffff;
  text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
}

.drop-li {
  color: #484848;
  animation: animate 1s infinite linear;
}


@keyframes animate {
  0% {
    color: #484848;
    text-shadow: none;
  }
  18% {
    color: #484848;
    text-shadow: none;
  }
  20% {
    color: #acffff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
  }
  30% {
    color: #484848;
    text-shadow: none;
  }
  35% {
    color: #acffff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
  }
  70% {
    color: #484848;
    text-shadow: none;
  }

  85% {
    color: #acffff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #00b5d4;
  }

  90% {
    color: #484848;
    text-shadow: none;
  }

  100% {
    color: #484848;
    text-shadow: none;
  }
}

.drop {
  transform: rotate(15deg);
  transform-origin: top left;
}




/* about section */

.about {
  background: #8cd2de;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 85%; */
  /* margin: 0 auto; */
  text-align: center;
}


.about-portrait {
  
  background: url(sss.jpg) center center/cover;
  width:300px;
  height: 300px;
  border-radius: 50%;
  border: #484848 solid 4px;
  box-shadow: 0 0 30px #484848, 0 0 60px #484848;
}

.about-content  {
  background: #8cd2de;
  color: #484848;
  width: 60%;
  margin-left: 30px;
  align-self: flex-start;
}

.about-content h2 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.about-content p {
  max-width: 600px;
  font-size: 1.5rem;
  font-weight: 400;
}
