<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login">
        <h2>Sign in</h2>
        <form>
            <div class="input-group">
                <input type="text" name='name' required>
                <span>Username</span>
            </div>
            <div class="input-group">
                <input type="text" name='password' required>
                <span>Password</span>
            </div>
            <div class="input-group">
                <input type="submit" name='submit' value='Submit' required>
            </div>
        </form>
        <a href="#">Forgot password <span>Click here</span></a>
    </div>
    
</body>
</html>