@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    opacity: 0.75;
    transition: 0.3s all ease-in;
     
}

a:hover {
    opacity: 1;
}

section:not(.main):nth-child(even) {
    background-color: #f5f5f5;
}
 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    opacity: 0;
    animation: 1s fadein 0.5s forwards; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

a.btn {
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    background-color: lightgray;
    font-weight: bold;
    padding: 10px 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}



header h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 800;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

.main {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.background-image {
    position: absolute;
    background: center center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
}

.main-content-area {
    opacity: 0;
    margin-top: 150px;
    animation: 1s slidein 1s forwards;
}

@keyframes slidein {
    100% {
        opacity: 1;
        margin: 0;
    }
}

.main-content-area h1, .main-content-area h3 {
    margin-bottom: 15px;
}

.grid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

hr {
    width: 250px; 
    margin-bottom: 50px;
    border: 0;
    background-color: black;
    height: 3px;
}

.title {
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 720px;
    margin-bottom: 30px;
    line-height: 2;
    text-align: center;
}

.destinations .grid li {
    height: 350px; 
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.small {
    flex-basis: 30%;
}
.large {
    flex-basis: 70%;
}

/* Packages Section */
.packages .grid li {
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li i {
    color: #8c9eff
}

/* contact section */

.contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;

}
.contact form input {
    flex: 1;
    margin-right: 30px;
    padding: 15px;
    font-size: 18px;
    color: #555;
    border-radius: 5px;
}