<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <section class='testimonials'>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, libero. Unde magni, nobis laboriosam cupiditate esse tenetur consequuntur suscipit atque?</p>
                <div class="image">
                    <img src="https://picsum.photos/100" alt="">
                </div>
                <div class="details">
                    <h2>Hom Tanks<br><span>infamous actor</span></h2>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, libero. Unde magni, nobis laboriosam cupiditate esse tenetur consequuntur suscipit atque?</p>
                <div class="image">
                    <img src="https://picsum.photos/100" alt="">
                </div>
                <div class="details">
                    <h2>Hom Tanks<br><span>infamous actor</span></h2>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="layer"></div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, libero. Unde magni, nobis laboriosam cupiditate esse tenetur consequuntur suscipit atque?</p>
                <div class="image">
                    <img src="https://picsum.photos/100" alt="">
                </div>
                <div class="details">
                    <h2>Hom Tanks<br><span>infamous actor</span></h2>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>