<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World Garden</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class='main-heading'><span>Hello</span> World Garden</h1>
        <div class="wrapper">
            <div class="company-info">
                <h3>Hello World Garden</h3>
                <ul>
                    <li><i class="fas fa-road"></i> Address: Ruthless St 32</li>
                    <li><i class="fas fa-phone"></i> Phone: (222) 222-2222</li>
                    <li><i class="fas fa-envelope"></i> Email: helloworld@world.com</li>
                </ul>
            </div>
            <div class="contact">
                <h3>Contact us</h3>
                <form>
                <p>
                    <label for="name">Name</label>
                    <input type="text" name='name'>
                </p>
                <p>
                    <label for="phone">Phone Number</label>
                    <input type="text" name='phone'>
                </p>
                <p>
                    <label for="address">Address</label>
                    <input type="text" name='address'>
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="text" name='email'>
                </p>
                <p class='full'>
                    <label for="message" >Message</label>
                    <textarea name="message" rows="6"></textarea>
                </p>
                <p class='full'>
                    <button>Submit</button>
                </p>
            </form>
            </div>
        </div>
    </div>
    
</body>
</html>