body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
}

.container {
    
    margin: auto;
}

#loader {

    width: 60px; 
    height: 60px; 
    border: 6px solid lightgrey;
    margin: 40px auto; 
    border-top-color: black;
    border-bottom-color: black;
    border-radius: 50%;
    animation: spin 2s linear infinite; 
}

@keyframes spin {

    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}

}