<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>testimonials exercise</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <div class="box">
            <div class="img-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpr5Xl3Fpy7obdBvaGttfuNekB_ENLBg4f8F8mn7i5Ez5BgJe2Uw" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illum voluptas dolorum sapiente! Cumque obcaecati voluptas exercitationem eos doloremque perferendis!</p>
            <h4>Zagor Tenej<br><span>duh sa sekirom</span></h4>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="https://upload.wikimedia.org/wikipedia/hr/f/f5/Chico.JPG" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit illum voluptas dolorum sapiente! Cumque obcaecati voluptas exercitationem eos doloremque perferendis!</p>
            <h4>Ciko Lopez<br><span>gurman</span></h4>
        </div>
    </div>
    
</body>
</html>